<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%gray(%d{HH:mm:ss.SSS}) %highlight(%.-1level) [%cyan(%logger{5}) %green(%X{akkaSource})]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="DEBUG"/>
    <logger name="ru.maizy.dev" level="DEBUG"/>

    <!-- suppress some verbose loggers -->
    <logger name="akka.cluster.ClusterHeartbeatSender" level="INFO" />
    <logger name="akka.serialization" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
